<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Open Graphs -->
  <meta property="og:title" content="MiniBoard | 포스트 수정">
  <meta property="og:description" content="새로운 포스트를 작성하세요.">
  <meta property="og:type" content="website">
  <!-- <meta property="og:url" content=""> -->
  <!-- <meta property="og:imgae" content=""> -->

  <title>Mini Board | 포스트 수정</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!-- TUI editor -->
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- styles -->
  <link rel="stylesheet" href="styles/global.css">
</head>
<body>
  <!-- 제목 -->
  <h1 class="logo"><a href="/">Mini Board</a></h1>

  <!-- 게시글 작성란 -->
  <div class="box shadow space-between flex-end">
    <input style="height: 62px; margin-bottom: 4px;" type="text" id="titleInput" class="form-control" placeholder="제목을 입력하세요.">
    <input style="margin-bottom: 4px;" type="text" id="writerInput" class="form-control" placeholder="이름을 입력하세요.">
    <div id="editor" style="width: 100%;"></div>
    <!-- TUI editor -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <input style="margin: 4px 0;" type="password" id="passwordInput" class="form-control" placeholder="비밀번호를 입력하세요.">
    
    <div style="display: flex; justify-content: center;">
      <button style="margin-right: 4px;" id="deleteBtn" class="btn btn-outline-danger">삭제하기</button>
      <button id="editBtn" class="btn btn-primary">수정하기</button>
    </div>
  </div>

  <!-- 푸터 -->
  <footer>
    2022, created by Hyeongwang
  </footer>

  <!-- scripts -->
  <script>
    const params = new URLSearchParams(window.location.search);
    const postId = params.get("id");
  </script>
  <script>
    const editor = new toastui.Editor({
      el: document.querySelector('#editor'),
      height: "700px",
    });

    // 게시글 정보 불러와서 에디터에 넣기
    async function loadPostData() {
      const result = await axios.get(`/api/post/${postId}`);
      const post = result.data
      const $titleInput = document.querySelector('#titleInput');
      const $writerInput = document.querySelector('#writerInput');

      $titleInput.value = post.title;
      $writerInput.value = post.writer;
      editor.setHTML(post.content);
    };
    loadPostData();
  </script>
  <script src="scripts/user.js"></script>
  <script src="scripts/getDate.js"></script>
  <script src="scripts/write.js"></script>
</body>
</html>